# Python Basics

## Imports

In [28]:
import sys
import keyword
import operator
from datetime import datetime
import os

## Keywords

Keywords are reserved words in python and cannot be used as identifiers

In [29]:
print(keyword.kwlist)
len(keyword.kwlist) # Python contains 36 keywords

['False', 'None', 'True', '__peg_parser__', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

36

## Identifiers

An identifier is a name given to entities like class, functions, variables, etc. It helps to differentiate one entity from another.

In [30]:
1var = 10 # Identifier cannot start with a digit

SyntaxError: invalid syntax (2183624609.py, line 1)

In [ ]:
var2@ = 10 # Identifier cannot use special symbols

SyntaxError: invalid syntax (3271491916.py, line 1)

In [ ]:
import = 10 # Keywords cannot be used as identifiers

SyntaxError: invalid syntax (1687524801.py, line 1)

An identifier can be a combination of letters, numbers and underscore.

In [ ]:
# Some valid identifiers
var = 10
var2 = 20
var_ = 30

## Comments

Comments can be used to explain the code for more readability

In [ ]:
# Single line comment

'''
Multiple
line
comment
'''

"""
Multiple
line
comment
"""

'\nMultiple\nline\ncomment\n'

## Statements

In [ ]:
sum = 10 + 20
sum

30

In [ ]:
plist = ['one', 'two', 'three', 'four']
plist

['one', 'two', 'three', 'four']

In [ ]:
add = 10 \
    + 20 \
    + 30 \
    + 40
add

100

## Indentation

Indentation is important in python as it indicates the block of code.

In [ ]:
a = 10
if a == 10:
    print ('A is equal to 10') # Correct indentation

A is equal to 10

In [ ]:
a = 10
if a == 10:
print ("A is equal to 10") #IndentationError expected an indented block

IndentationError: expected an indented block (1932055555.py, line 3)

In [ ]:
for i in range(10):
    print(i) # Correct indentation

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(10):
print(i) # IndentationError expected an indented block

IndentationError: expected an indented block (705952513.py, line 2)

## Docstrings

Docstrings provide a convenient way of associating documentation to functions, class or module </br>
It appears right after the function definition

In [ ]:
def square(num):
    '''Returns the square of the given number.'''
    return num * num

square(6)

36

In [ ]:
square.__doc__ # Documention of the function can be accessed with __doc__

'Returns the square of the given number.'

In [ ]:
def evenorodd(num):
    '''Finds if the given number is add or even.'''
    if num % 2 == 0:
        print(str(num) + ' is even number')
    else:
        print(str(num) + ' is odd number')

print(evenorodd.__doc__)

evenorodd(3)
evenorodd(6)

Finds if the given number is add or even.
3 is odd number
6 is even number

## Variables

A Python variable is a reserved memory location to store values. A variable is created at the moment you assign a value to it.

In [ ]:
a = 10
print(a)
print(id(a)) # ID is always an integer, unique and constant during its lifetime.
print(hex(id(a))) # Memory address of the variable

10
1573552941648
0x16e5f106a50

In [ ]:
p = 10
q = 10
r = q
print(p, type(p), id(p), hex(id(p)))
print(q, type(q), id(q), hex(id(q)))
print(r, type(r), id(r), hex(id(r)))

10 <class 'int'> 1573552941648 0x16e5f106a50
10 <class 'int'> 1573552941648 0x16e5f106a50
10 <class 'int'> 1573552941648 0x16e5f106a50

In [ ]:
p = p + 10 # Variable overwriting
p

20

In [ ]:
intvar = 10
floatvar = 10.5
stringvar = 'String variable'

print(intvar)
print(floatvar)
print(stringvar)

10
10.5
String variable

In [ ]:
intvar, floatvar, stringvar = 10, 10.5, 'String variable'

print(intvar)
print(floatvar)
print(stringvar)

10
10.5
String variable

In [ ]:
a = b = c = d = 10
print(a, b, c, d)

10 10 10 10

## Datatypes

### Numeric

In [ ]:
val1 = 10 # Integer data type
print(val1)
print(type(val1))
print(sys.getsizeof(val1))
print(val1, 'Is Integer?', isinstance(val1, int))

10
<class 'int'>
28
10 Is Integer? True

In [ ]:
val1 = 10.5 # Float data type
print(val1)
print(type(val1))
print(sys.getsizeof(val1))
print(val1, 'Is Float?', isinstance(val1, float))

10.5
<class 'float'>
24
10.5 Is Float? True

In [ ]:
val1 = 10j # Complex data type
print(val1)
print(type(val1))
print(sys.getsizeof(val1))
print(val1, 'Is Complex?', isinstance(val1, complex))

10j
<class 'complex'>
32
10j Is Complex? True

In [ ]:
print(sys.getsizeof(int()))
print(sys.getsizeof(float()))
print(sys.getsizeof(complex()))

24
24
32

### Boolean

Boolean can have only two values. Either true or false.

In [ ]:
bool1 = True
bool2 = False

print(bool1, bool2)

True False

In [ ]:
print(bool(0))
print(bool(None))
print(bool(False))
print(bool(''))
print(bool(1))
print(bool(True))
print(bool('Hello'))

False
False
False
False
True
True
True

### Strings

#### String Creation

In [9]:
str1 = 'Hello Python' # Using single quotes
str2 = "Hello Python" # Using double quotes
str3 = '''Hello
Python''' # Using triple single quotes
str4 = """Hello
Python""" # Using triple double quotes
str5 =('Happy',
       'Weekend',
       'Everyone')
print(str1)
print(str2)
print(str3)
print(str4)
print(str5)

Hello Python
Hello Python
Hello
Python
Hello
Python
('Happy', 'Weekend', 'Everyone')

In [15]:
mystr = 'Woohoo '
print(mystr)
print(len(mystr))
mystr = mystr * 5
print(mystr)
print(len(mystr))

Woohoo
7
Woohoo Woohoo Woohoo Woohoo Woohoo
35

#### String Indexing

In [5]:
str1 = 'Hello Python'
print(str1[0]) # Print first character
print(str1[len(str1) - 1]) # Print last character
print(str1[-1]) # Print last character
print(str1[6]) # Print 7th character

H
n
n
P

#### String Slicing

In [14]:
str1 = 'Hello Python'
print(str1[0:5]) # Fetch from index 0 to index 4
print(str1[6:12]) # Fetch from index 6 to index 11
print(str1[-4:]) # Fetch last 4 characters
print(str1[-6:]) # Fetch last 4 characters
print(str1[:4]) # Fetch first 4 characters
print(str1[:6]) # Fetch first 6 characters

Hello
Python
thon
Python
Hell
Hello

#### Update & Delete String

Strings are immutable and the value cannot be changed once it is assigned

In [16]:
str1 = 'Hello Python'
str1[0:5] = 'Holaa'

TypeError: 'str' object does not support item assignment

In [18]:
del(str1) # Delete a string
str1

NameError: name 'str1' is not defined

#### String Concatenation

In [21]:
s1 = 'Hello'
s2 = 'Python'
s3 = s1 + " " + s2
print(s3)

Hello Python

#### Iterating through a string

In [22]:
str1 = 'Hello Python'
for i in str1:
    print(i)

H
e
l
l
o

P
y
t
h
o
n

In [23]:
for i in enumerate(str1): # Enumerate method adds a counter to an iterable.
    print(i)

(0, 'H')
(1, 'e')
(2, 'l')
(3, 'l')
(4, 'o')
(5, ' ')
(6, 'P')
(7, 'y')
(8, 't')
(9, 'h')
(10, 'o')
(11, 'n')

In [ ]:
list(enumerate(str1))

[(0, 'H'),
 (1, 'e'),
 (2, 'l'),
 (3, 'l'),
 (4, 'o'),
 (5, ' '),
 (6, 'P'),
 (7, 'y'),
 (8, 't'),
 (9, 'h'),
 (10, 'o'),
 (11, 'n')]

#### String Membership

In [31]:
str1 = 'Hello Python'
print('o' in str1)
print('el' in str1) # Multiple characters
print('h' in str1) # Case insensitive
print('i' in str1)
print('pt' in str1) # Order is important

True
True
True
False
False

#### String Partitioning

Partioning searches a specific string and splits the string multiple partitions

1) First part is the string before the argument string
2) Second part is the argument string
3) Third part is the string after the argument string

In [33]:
str1 = 'Natural language processing with Python and R and Java'
str2 = str1.partition('and') # Partition from the left side
print(str2)
str3 = str1.rpartition('and') # Partition from the right side
print(str3)

('Natural language processing with Python ', 'and', ' R and Java')
('Natural language processing with Python and R ', 'and', ' Java')

#### String Functions

##### Strip

In [40]:
str2 = '     Hello Python         '
print(str2)
print(str2.strip()) # Removes the extra spaces on both sides 
print(str2.lstrip()) # Removes the extra spaces on the left side
print(str2.rstrip()) # Removes the extra spaces on the right side
str3 = '*************** Hello Python *************** All the Best ***************'
print(str3.strip('*'))
print(str3.lstrip('*'))
print(str3.rstrip('*'))

     Hello Everyone
Hello Everyone
Hello Everyone
     Hello Everyone
 Hello Everyone *************** All the Best
 Hello Everyone *************** All the Best ***************
*************** Hello Everyone *************** All the Best

##### Lower and Upper

In [48]:
str1 = 'Hello Python'
# Change case
print(str1.lower())
print(str1.upper())

hello python
HELLO PYTHON
Hola Python
Hello Python
HelloPython

##### Replace

In [49]:
print(str1.replace('Hello', 'Hola'))
print(str1.replace('hello', 'Hola')) # Replace function is case sensitive
print(str1.replace(' ', '')) # Removing white spaces using replace function

Hola Python
Hello Python
HelloPython

##### Count

In [54]:
str1 = 'one two three four three one two one two one two'
print(str1.count('one'))
print(str1.count('One')) # Case sensitive
print(str1.count('five'))

4
0
0

##### Starts with / Ends with

In [62]:
str1 = 'one two three four three one two one two one two'
print(str1.startswith('one'))
print(str1.startswith('One')) # Case Insensitive
print(str1.endswith('two'))
print(str1.endswith('Two')) # Case Insensitive

True
False
True
False

##### Split

In [63]:
str1 = 'one two three four three one two one two one two'
list1 = str1.split()
print(list1)

['one', 'two', 'three', 'four', 'three', 'one', 'two', 'one', 'two', 'one', 'two']

##### Format

In [66]:
num1 = 10
num2 = 20
num3 = 30

str1 = 'The three numbers are {}, {} and {}'
str2 = 'The three numbers are {2}, {1} and {0}'

print(str1.format(num1, num2, num3))
print(str2.format(num1, num2, num3))

The three numbers are 10, 20 and 30
The three numbers are 30, 20 and 10

##### Justify

In [74]:
str1 = ' Hello Python '
print(str1.center(100))
print(str1.center(100, '*'))
print(str1.ljust(100))
print(str1.ljust(100, '*'))
print(str1.rjust(100))
print(str1.rjust(100, '*'))

                                            Hello Python
******************************************* Hello Python *******************************************
 Hello Python
 Hello Python **************************************************************************************
                                                                                       Hello Python
************************************************************************************** Hello Python

##### Find & Index

In [100]:
str1 = 'one two three four three one two one two one two'
# Find
# Returns -1 if not found.
# Can be applied only to strings.
print(str1.find('two'))
print(str1.rfind('two'))
# Index
# Returns exception if not found.
# Can be applied only to strings, lists and tuples.
print(str1.index('two'))
print(str1.rindex('two'))

4
45
4
45

##### Miscellaneous (IsAlpha, IsAlNum, IsNumeric, IsDigit, IsDecimal, IsUpper, IsLower)

In [98]:
str1 = '123456789'
print(str1)
print('IsAlpha:', str1.isalpha()) # Returns true if the input is all letters
print('IsNumeric:', str1.isnumeric()) # Returns true if the input is all numbers
print('IsAlphaNumeric:', str1.isalnum()) # Returns true if the input contains mix of letters and numbers
print('IsDigit:', str1.isdigit()) # Returns true if the input is all numbers
print('IsDecimal:', str1.isdecimal()) # Returns true if the input is all numbers or decimal
str1 = 'abcde'
print()
print(str1)
print('IsAlpha:', str1.isalpha())
print('IsNumeric:', str1.isnumeric())
print('IsAlphaNumeric:', str1.isalnum())
print('IsDigit:', str1.isdigit())
print('IsDecimal:', str1.isdecimal())

str1 = 'hello python'
print()
print(str1)
print('IsUpper:', str1.isupper())
print('IsLower:', str1.islower())

123456789
IsAlpha: False
IsNumeric: True
IsAlphaNumeric: True
IsDigit: True
IsDecimal: True

abcde
IsAlpha: True
IsNumeric: False
IsAlphaNumeric: True
IsDigit: False
IsDecimal: False

hello python
IsUpper: False
IsLower: True

#### Using escape characters

In [102]:
str1 = 'My favorite tv series is "Game of thrones"'
print(str1)
str1 = 'My favorite tv series is \'Game of thrones\''
print(str1)

My favorite tv series is "Game of thrones"
My favorite tv series is 'Game of thrones'

### List

List is an ordered collection of items </br>
List can have different data types in it

In [110]:
list1 = [] # Empty list
print(list1)
list2 = [1, 2, 3, 4, 5] # Integer list
print(list2)
list3 = [1.5, 2.5, 3.5, 4.5, 5.5] # Float list
print(list3)
list4 = ['one', 'two', 'three', 'four', 'five'] # String list
print(list4)
list5 = [1, 2 , [3, 4]] # Nested list
print(list5)
list6 = [1, 'two', 3.5, [4, 'five', 6.5]] # Mixed list
print(list6)

[]
[1, 2, 3, 4, 5]
[1.5, 2.5, 3.5, 4.5, 5.5]
['one', 'two', 'three', 'four', 'five']
[1, 2, [3, 4]]
[1, 'two', 3.5, [4, 'five', 6.5]]

In [111]:
list1 = [1, 2, 3, [4,5]]
print(len(list1))

4

#### List Indexing

In [117]:
list1 = [1, 2, 3, [4,5]]
print(list1[0])
print(list1[3])
print(list1[3][1]) # Nested Indexing
print(list1[-1]) # Reverse Indexing
print(list1[-1][0])

1
[4, 5]
5
[4, 5]
4

#### List Slicing

In [124]:
list1 = ['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']
print(list1)
print(list1[2:5]) # from 2nd index to 4th index
print(list1[:3]) # from 0 index to 3rd index in list
print(list1[3:]) # From 3rd index to end of list
print(list1[-3:]) # Last 3 items
print(list1[:]) # Return whole list

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']
['three', 'four', 'five']
['one', 'two', 'three']
['four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']
['eight', 'nine', 'ten']
['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

#### Add / Change Items

In [131]:
list1 = [1, 2, 3, 4, 5]
list1.append(6) # Appending new items to list
print(list1)
list1.insert(2, 2.5) # Insert new elements at a given position
print(list1)

[1, 2, 3, 4, 5, 6]
[1, 2, 2.5, 3, 4, 5, 6]

In [144]:
list1 = ['one', 'two', 'three', 'four', 'five']
print(list1)
list1.remove('three') # Removes the specified element
print(list1)
list1 = ['one', 'two', 'three', 'four', 'five']
list1.pop() # Removes the last item
print(list1)
list1 = ['one', 'two', 'three', 'four', 'five']
list1.pop(1) # Removes item at index
print(list1)
list1 = ['one', 'two', 'three', 'four', 'five']
del list1[1] # Removes item at index
print(list1)
list1 = ['one', 'two', 'three', 'four', 'five']
list1[1] = 2 # Change value in list
print(list1)
list1.clear() # Clears the list
print(list1)
del list1 # Deletes the list
print(list1)

['one', 'two', 'three', 'four', 'five']
['one', 'two', 'four', 'five']
['one', 'two', 'three', 'four']
['one', 'three', 'four', 'five']
['one', 'three', 'four', 'five']
['one', 2, 'three', 'four', 'five']
[]

NameError: name 'list1' is not defined

#### Copy List

In [147]:
list1 = [1, 2, 3 , 4, 5]
list2 = list1
print(id(list1), id(list2)) # Points to the same reference
list3 = list1.copy()
print(id(list1), id(list3)) # Points to different reference
list1[1] = 'two'
print(list1)
print(list2)
print(list3)

2628879975744 2628879975744
2628879975744 2628879771264
[1, 'two', 3, 4, 5]
[1, 'two', 3, 4, 5]
[1, 2, 3, 4, 5]

#### Join Lists

In [153]:
list1 = [1, 2, 3 , 4, 5]
list2 = [6, 7, 8 , 9, 10]
list3 = list1 + list2 # Join lists.
print(list1)
print(list2)
print(list3)

# This is different from append. 
# Append adds the list as a new element in the current list.
list1.extend(list2) 
print(list1)

[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

#### List Membership

In [155]:
list1 = [1, 2, 3 , 4, 5]
print(4 in list1)
print(6 in list1)

True
False

#### Reverse and Sort lists

In [175]:
list1 = [1, 2, 3 , 4, 5]
print(list1)
list1.reverse() # Reverses the list
print(list1)
list1 = list1[::-1] # Reverses the list
print(list1)

[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]
[1, 2, 3, 4, 5]

In [176]:
list2 = [4, 2, 1, 5, 3]
list2.sort()
print(list1)
list2.sort(reverse=True)
print(list1)
list3 = sorted(list2) # Returns a new copy of the list. Does not change the original list
print(list2) # Original list
print(list3) # Sorted list

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]
[1, 2, 3, 4, 5]

#### Loop through a list

In [173]:
list1 = [1, 2, 3 , 4, 5]
for i in list1:
    print(i)

1
2
3
4
5

In [174]:
for i in enumerate(list1): # Returns list with index
    print(i)

(0, 1)
(1, 2)
(2, 3)
(3, 4)
(4, 5)

#### Count

In [180]:
list1 = ['one', 'three', 'seven', 'two', 'one', 'three', 'four', 'three']
print(list1.count('one'))
print(list1.count('four'))
print(list1.count('six'))

2
1
0

#### All / Any

In [186]:
list1 = ['one', 'two', 'three', 'four', 'five']
print(list1)
print(all(list1))
print(any(list1))
list1.append('')
print(list1)
print(all(list1))
print(any(list1))

['one', 'two', 'three', 'four', 'five']
True
True
['one', 'two', 'three', 'four', 'five', '']
False
True

#### List Comprehension

List Comprehensions provide an elegant way to create new lists. </br>
It consists of brackets containing an expression followed by a for clause, then zero or more foror if clauses.

In [227]:
list1 = list(range(1, 11))
print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [228]:
 # List with squares of each number
list2 = [i * i for i in list1]
print(list2)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [229]:
 # Multiple each item by 10
list2 = [i * 10 for i in list1]
print(list2)

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [230]:
# List with even numbers
list2 = [i for i in list1 if i % 2 == 0] 
print(list2)

[2, 4, 6, 8, 10]

In [234]:
# Numbers divisible by 3 and 9
list2 = [i for i in list1 if i % 3 == 0 if i % 9 == 0] 
print(list2)

[9]

In [232]:
# Odd or Even
list2 = [print('{} is an even number'.format(i)) 
         if i % 2 == 0 
         else print('{} is an odd number'.format(i)) 
         for i in list1]

1 is an odd number
2 is an even number
3 is an odd number
4 is an even number
5 is an odd number
6 is an even number
7 is an odd number
8 is an even number
9 is an odd number
10 is an even number

In [241]:
# Extract numbers from a string
str1 = 'One 1 two 2 three 3 four 4 five 5 six 6789'
numlist1 = [int(i) for i in str1 if i.isdigit()]
print(numlist1)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [244]:
# Extract letters from a string
str1 = 'One 1 two 2 three 3 four 4 five 5 six 6789'
numlist1 = [i for i in str1 if i.isalpha()]
print(numlist1)

['O', 'n', 'e', 't', 'w', 'o', 't', 'h', 'r', 'e', 'e', 'f', 'o', 'u', 'r', 'f', 'i', 'v', 'e', 's', 'i', 'x']

### Tuples

Tuple is similar to List except that the objects in tuple are immutable which means we cannot change the elements of a tuple once assigned. </br>
When we do not want to change the data over time, tuple is a preferred data type. </br>
Iterating over the elements of a tuple is faster compared to iterating over a list.

#### Tuple Creation

In [246]:
tup1 = ()
print(tup1)

()

In [253]:
# Tuple of integers
tup1 = (1, 2, 3, 4 , 5)
print(tup1)
# Tuple of floats
tup1 = (1.5, 2.5, 3.5, 4.5 , 5.5)
print(tup1)
# Tuple of strings
tup1 = ('one', 'two', 'three', 'four', 'five')
print(tup1)
# Nested Tuple
tup1 = (1, 2, 3, 4 , 5, (1,2)) 
print(tup1)
# Mixed Tuple
tup1 = (1, 2, 3, 4.5 , 'five', (1,2), [1,2], {1,2}) 
print(tup1)

(1, 2, 3, 4, 5)
(1.5, 2.5, 3.5, 4.5, 5.5)
('one', 'two', 'three', 'four', 'five')
(1, 2, 3, 4, 5, (1, 2))
(1, 2, 3, 4.5, 'five', (1, 2), [1, 2], {1, 2})

In [257]:
# Length of tuple
tup1 = (1, 2, 3, 4.5 , 'five', (1,2), [1,2], {1,2}) 
print(len(tup1))

8

#### Tuple Indexing

In [259]:
tup1 = (1, 2, 3, 4.5, 'five', (1,2), [1,2], {1,2}) 
print(tup1[6])
print(tup1[6][1])
print(tup1[-1])

[1, 2]
2
{1, 2}

#### Tuple Slicing

In [274]:
tup1 = (1, 2, 3, 4, 5)
print(tup1[1:4])
print(tup1[:4])
print(tup1[2:])
print(tup1[-2:])
print(tup1[:])

(2, 3, 4)
(1, 2, 3, 4)
(3, 4, 5)
(4, 5)
(1, 2, 3, 4, 5)

#### Remove and Change Items

In [269]:
print(tup1)
del tup1[1] # Tuples are immutable so the elements cannot be deleted

(1, 2, 3, 4, 5, 6)

TypeError: 'tuple' object doesn't support item deletion

In [270]:
tup1[1] = 10 # Tuples are immutable so the elements cannot be modified

TypeError: 'tuple' object does not support item assignment

In [271]:
del tup1 # Delete the tuple
print(tup1)

NameError: name 'tup1' is not defined

#### Loop through a tuple

In [277]:
tup1 = (1, 2, 3, 4, 5, 2, 3, 2, 4,)
for i in tup1:
    print(i)

1
2
3
4
5
2
3
2
4

In [278]:
for i in enumerate(tup1):
    print(i)

(0, 1)
(1, 2)
(2, 3)
(3, 4)
(4, 5)
(5, 2)
(6, 3)
(7, 2)
(8, 4)

In [283]:
print(tup1.count(4))
print(tup1.count(2))

2
3

#### Tuple Membership

In [285]:
tup1 = (1, 2, 3, 4, 5)
print(2 in tup1)
print(6 in tup1)

True
False

#### Index Position

In [296]:
tup1 = ('one', 'two', 'three', 'four', 'five')
tup1.index('two')

1

In [297]:
tup1.index('six')

ValueError: tuple.index(x): x not in tuple

#### Sorting

In [299]:
tup1 =  ('ball', 'apple', 'dog', 'elephant', 'cat')
print(sorted(tup1))
print(sorted(tup1, reverse=True))

['apple', 'ball', 'cat', 'dog', 'elephant']
['elephant', 'dog', 'cat', 'ball', 'apple']

### Sets

Unordered & Unindexed collection of items. </br>
Set elements are unique. Duplicate elements are not allowed. </br>
Set elements are immutable (cannot be changed). </br>
Set itself is mutable. We can add or remove items from it.

#### Set Creation

In [310]:
# Empty set
set1 = {}
print(set1)
# Empty set
set1 = set()
print(set1)

{}
set()

In [303]:
set1 = {1, 2, 3, 4, 5, 5, 1}
print(set1)
print(len(set1))

{1, 2, 3, 4, 5}
5

In [ ]:
set1 = {1, 2, 3, 4, 5, (1, 2)}
print(set1)

{1, 2, 3, 4, 5, (1, 2)}

In [307]:
set1 = {1, 2, 3, 4, 5, {1, 2}}  # Set does not allow mutable types like list or set inside it
print(set1)

TypeError: unhashable type: 'set'

In [308]:
set1 = {1, 2, 3, 4, 5, [1, 2]} # Set does not allow mutable types like list or set inside it
print(set1)

TypeError: unhashable type: 'list'

In [312]:
set1 = set((1, 2, 3, 4, 5))
print(set1)

{1, 2, 3, 4, 5}

#### Loop through a set

In [313]:
for i in set1:
    print(i)

1
2
3
4
5

In [314]:
for i in enumerate(set1):
    print(i)

(0, 1)
(1, 2)
(2, 3)
(3, 4)
(4, 5)

#### Set Membership

In [316]:
print(1 in set1)
print(6 in set1)

True
False

#### Add / Remove Items

In [334]:
set1 = {1, 2, 3, 4, 5}
print(set1)

{1, 2, 3, 4, 5}

In [335]:
# Add single item
set1.add(6)
print(set1)

{1, 2, 3, 4, 5, 6}

In [342]:
# Add multiple item
set1.update([7, 8, 9])
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [351]:
set1 = {1, 2, 3, 4, 5, 6, 7, 8, 9}
# Remove items using remove method
set1.remove(9)
print(set1)
# Remove items using discard method
set1.discard(8)
print(set1)
# Remove all items in a set
set1.clear()
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7}
set()

In [352]:
# Delete a set
del set1
print(set1)

NameError: name 'set1' is not defined

#### Copy a set

In [355]:
set1 = {1, 2, 3, 4, 5}
set2 = set1
print(id(set1), id(set2)) # Same reference
set3 = set1.copy()
print(id(set1), id(set3)) # Different reference
set1.add(6)
print(set1)
print(set2)
print(set3)

2628882994112 2628882994112
2628882994112 2628882995456
{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5}

#### Set Operations

##### Union

In [359]:
A = {1, 2, 3}
B = {3, 4, 5}
C = {5, 6, 7, 8}
# Union of A and B (All elements from both sets. NO DUPLICATES)
print(A | B | C)
print(A.union(B))
print(A.union(B, C))

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6, 7, 8}

##### Intersection

In [366]:
A = {1, 2, 3}
B = {3, 4, 5}
C = {5, 6, 7, 8}
# Intersection of A and B (Common items in both sets)
print(A & B) 
print(A.intersection(B))
A.intersection_update(B)
print(A)

{3}
{3}
{3}

##### Difference

In [374]:
A = {1, 2, 3}
B = {3, 4, 5}
C = {5, 6, 7, 8}
# set of elements that are only in B but not in A
print(A - B)
print(A.difference(B))
print(A)
A.difference_update(B)
print(A)

{1, 2}
{1, 2}
{1, 2, 3}
{1, 2}

In [373]:
A = {1, 2, 3}
B = {3, 4, 5}
C = {5, 6, 7, 8}
# set of elements that are only in B but not in A
print(A - B)
print(A.difference(B))
print(A)
A.difference_update(B)
print(A)

{1, 2}
{1, 2}
{1, 2, 3}
{1, 2}

##### Symmetric Difference

In [372]:
A = {1, 2, 3}
B = {3, 4, 5}
C = {5, 6, 7, 8}
# Symmetric difference (Set of elements in A and B but not in both. "EXCLUDED")
print(A ^ B)
print(A.symmetric_difference(B))
print(A)
A.symmetric_difference_update(B)
print(A)

{1, 2, 4, 5}
{1, 2, 4, 5}
{1, 2, 3}
{1, 2, 4, 5}

##### Subset, Superset & Disjoint

In [379]:
A = {1, 2, 3, 4, 5, 6, 7, 8, 9}
B = {3, 4, 5, 4, 5}
C = {10, 20, 30}
print(A.issuperset(B)) # A is superset if it contains all elements of B
print(B.issubset(A)) # B is subset is all elements are available in A
print(C.isdisjoint(A)) # C is disjoint of A since there are no common elements
print(B.isdisjoint(A))

True
True
True
False

##### Other Built-In Functions

In [383]:
A = {1, 2, 3, 4, 5, 6, 7, 8, 9}
B = {3, 4, 5, 4, 5}
C = {10, 20, 30}
print(min(A))
print(max(A))
print(sum(A))
print(len(A))

1
9
45
9

### Dictionary

Dictionary is a mutable data type in Python. </br>
A python dictionary is a collection of key and value pairs separated by a colon (:) & enclosedin curly braces {}.</br>
Keys must be unique in a dictionary, duplicate values are allowed.</br>

##### Create Dictionary

In [385]:
dict1 = dict()
print(dict1)
dict1 = {}
print(dict1)

{}
{}

In [6]:
# Dictionary with integer keys
dict1 = {1: 'one', 2: 'two', 3: 'three', 4: 'four', 5: 'five'}
print(dict1)
# Dictionary with integer keys using dict method
dict1 = dict({1: 'one', 2: 'two', 3: 'three', 4: 'four', 5: 'five'})
print(dict1)

{1: 'one', 2: 'two', 3: 'three', 4: 'four', 5: 'five'}
{1: 'one', 2: 'two', 3: 'three', 4: 'four', 5: 'five'}

In [7]:
# Dictionary with character keys
dict1 = {'A': 'Apple', 'B': 'Ball', 'C': 'Cat', 'D': 'Dog', 'E': 'Elephant'}
print(dict1)
# Dictionary with character keys using dict method
dict1 = dict({'A': 'Apple', 'B': 'Ball', 'C': 'Cat', 'D': 'Dog', 'E': 'Elephant'})
print(dict1)

{'A': 'Apple', 'B': 'Ball', 'C': 'Cat', 'D': 'Dog', 'E': 'Elephant'}
{'A': 'Apple', 'B': 'Ball', 'C': 'Cat', 'D': 'Dog', 'E': 'Elephant'}

In [11]:
# Dictionary with mixed keys and values
dict1 = {1: 'one', 'A': {'Apple', 'Axe'}, 'B': ('Ball', 'Box'), 'C': ['Cat', 'Cartoon']}
print(dict1)

{1: 'one', 'A': {'Apple', 'Axe'}, 'B': ('Ball', 'Box'), 'C': ['Cat', 'Cartoon']}

In [12]:
print(dict1.keys())
print(dict1.values())
print(dict1.items())

dict_keys([1, 'A', 'B', 'C'])
dict_values(['one', {'Apple', 'Axe'}, ('Ball', 'Box'), ['Cat', 'Cartoon']])
dict_items([(1, 'one'), ('A', {'Apple', 'Axe'}), ('B', ('Ball', 'Box')), ('C', ['Cat', 'Cartoon'])])

In [20]:
keys = {1, 2, 3, 4, 5} # Set of keys
dict2 = dict.fromkeys(keys) # None is assigned if there are no values supplied.
print(dict2)
value = 10
dict3 = dict.fromkeys(keys, value) # Passing the value when creating a dictionary
print(dict3)
list1 = [10, 20, 30]
dict4 = dict.fromkeys(keys, list1)
print(dict4)
list1.append(40) # Updated the reference in dictionary
print(dict4)

{1: None, 2: None, 3: None, 4: None, 5: None}
{1: 10, 2: 10, 3: 10, 4: 10, 5: 10}
{1: [10, 20, 30], 2: [10, 20, 30], 3: [10, 20, 30], 4: [10, 20, 30], 5: [10, 20, 30]}
{1: [10, 20, 30, 40], 2: [10, 20, 30, 40], 3: [10, 20, 30, 40], 4: [10, 20, 30, 40], 5: [10, 20, 30, 40]}

##### Accessing Items

In [25]:
dict1 = {1: 'one', 2: 'two', 3: 'three', 4: 'four', 5: 'five'}
print(dict1)
print(dict1[1]) # Access with the keys
print(dict1.get(2)) # Access with the get method

{1: 'one', 2: 'two', 3: 'three', 4: 'four', 5: 'five'}
one
two

##### Add or Change Items

In [34]:
dict1 = {'A': 'Apple', 'B': 'Ball', 'C': 'Cat', 'D': 'Dog', 'E': 'Elephant'}
print(dict1)
dict1['B'] = 'Basket' # Updating a dictionary key value
print(dict1)
dict1['F'] = 'Forest' # Update adds a new item if not available and updates if available
print(dict1)
dict2 = {'F': 'Food', 'G': 'Gallery'}
dict1.update(dict2) # Update adds a new item if not available and updates if available
print(dict1)

{'A': 'Apple', 'B': 'Ball', 'C': 'Cat', 'D': 'Dog', 'E': 'Elephant'}
{'A': 'Apple', 'B': 'Basket', 'C': 'Cat', 'D': 'Dog', 'E': 'Elephant'}
{'A': 'Apple', 'B': 'Basket', 'C': 'Cat', 'D': 'Dog', 'E': 'Elephant', 'F': 'Forest'}
{'A': 'Apple', 'B': 'Basket', 'C': 'Cat', 'D': 'Dog', 'E': 'Elephant', 'F': 'Food', 'G': 'Gallery'}

#### Remove Items

In [45]:
dict1 = {'A': 'Apple', 'B': 'Ball', 'C': 'Cat', 'D': 'Dog', 'E': 'Elephant'}
dict1.pop('E') # Removes the item with keys
print(dict1)
dict1.popitem() # Removes the last item
print(dict1)
del[dict1['C']] # Removing item with del
print(dict1)
dict1.clear() # Removing all items with clear()
print(dict1)
del dict1 # Deleting the dictionary with del
print(dict1)

{'A': 'Apple', 'B': 'Ball', 'C': 'Cat', 'D': 'Dog'}
{'A': 'Apple', 'B': 'Ball', 'C': 'Cat'}
{'A': 'Apple', 'B': 'Ball'}
{}

NameError: name 'dict1' is not defined

#### Copy Dictionary

In [53]:
dict1 = {'A': 'Apple', 'B': 'Ball', 'C': 'Cat', 'D': 'Dog', 'E': 'Elephant'}
dict2 = dict1 # Same reference
dict3 = dict1.copy() # Different reference
dict1['B'] = 'Brain'

print(dict1, hex(id(dict1)))
print(dict2, hex(id(dict2))) # This is updated since the reference is same
print(dict3, hex(id(dict3))) # This is not updated since the reference is different

{'A': 'Apple', 'B': 'Brain', 'C': 'Cat', 'D': 'Dog', 'E': 'Elephant'} 0x18c0e52f040
{'A': 'Apple', 'B': 'Brain', 'C': 'Cat', 'D': 'Dog', 'E': 'Elephant'} 0x18c0e52f040
{'A': 'Apple', 'B': 'Ball', 'C': 'Cat', 'D': 'Dog', 'E': 'Elephant'} 0x18c0e434f40

#### Loop through a dictionary

In [63]:
dict1 = {'A': 'Apple', 'B': 'Ball', 'C': 'Cat', 'D': 'Dog', 'E': 'Elephant'}

# Printing only the keys
for i in dict1.keys():
    print(i)
    
# Printing only the values
for i in dict1.values():
    print(i)
    
# Printing keys and values
for i in dict1.items():
    print(i)

# Printing keys and values as list
for i in dict1.keys():
    print([i, dict1[i]])

A
B
C
D
E
Apple
Ball
Cat
Dog
Elephant
('A', 'Apple')
('B', 'Ball')
('C', 'Cat')
('D', 'Dog')
('E', 'Elephant')
['A', 'Apple']
['B', 'Ball']
['C', 'Cat']
['D', 'Dog']
['E', 'Elephant']

#### Dictionary Membership

In [66]:
dict1 = {'A': 'Apple', 'B': 'Ball', 'C': 'Cat', 'D': 'Dog', 'E': 'Elephant'}
print('A' in dict1) 
print('Apple' in dict1) # Only the keys can be checked in dictionary membership

True
False

#### All / Any

In [75]:
dict1 = {1: 'one', 2: 'two', 3: 'three', 4: 'four', 5: 'five'}
print(all(dict1)) # Prints true if all keys are truthy
print(any(dict1)) # Prints true if any one of the keys is truthy
dict1.update({0: 1})
print(dict1)
print(all(dict1))
print(any(dict1))

True
True
{1: 'one', 2: 'two', 3: 'three', 4: 'four', 5: 'five', 0: 1}
False
True

#### Dictionary Comprehension

In [100]:
dict1 = {1: 'one', 2: 'two', 3: 'three', 4: 'four', 5: 'five'}
print(dict1)
print({i: dict1[i] + ' - ' + str(i) for i in dict1.keys()})
print({i: i * i for i in range(10)}) # Dictionary of squares

keys = ['one', 'two', 'three', 'four', 'five']
values = (1, 2, 3, 4, 5)
dict1 = {k:v for (k, v) in zip(keys, values)} # Combining a tuple and list to create a dictionary
print(dict1)
dict2 = {k:v/10 for (k,v) in dict1.items()} # Dividing each item in a dictionary
print(dict2)
str1 = 'Hello Python'
dict3 = {k:v for (k,v) in enumerate(str1)} # Index and the character in dictionary
print(dict3)
dict4 = {i:i.upper() for i in str1} # Convert to upper and store in dictionary

{1: 'one', 2: 'two', 3: 'three', 4: 'four', 5: 'five'}
{1: 'one - 1', 2: 'two - 2', 3: 'three - 3', 4: 'four - 4', 5: 'five - 5'}
{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}
{'one': 1, 'two': 2, 'three': 3, 'four': 4, 'five': 5}
{'one': 0.1, 'two': 0.2, 'three': 0.3, 'four': 0.4, 'five': 0.5}
{0: 'H', 1: 'e', 2: 'l', 3: 'l', 4: 'o', 5: ' ', 6: 'P', 7: 'y', 8: 't', 9: 'h', 10: 'o', 11: 'n'}

In [105]:
# Word frequency using dictionary
str1 = 'one two three four one two two three five five six seven six seven one'
list1 = str1.split()
print(list1)
set1 = set(list1)
print(set1)
initial_count = 0
word_freq_dict1 = {i: initial_count for i in set1}
print(word_freq_dict1)
for i in set1:
    for j in list1:
        if(i == j):
            word_freq_dict1[i] = word_freq_dict1[i]+1

print(word_freq_dict1)

['one', 'two', 'three', 'four', 'one', 'two', 'two', 'three', 'five', 'five', 'six', 'seven', 'six', 'seven', 'one']
{'four', 'two', 'five', 'six', 'three', 'seven', 'one'}
{'four': 0, 'two': 0, 'five': 0, 'six': 0, 'three': 0, 'seven': 0, 'one': 0}
{'four': 1, 'two': 3, 'five': 2, 'six': 2, 'three': 2, 'seven': 2, 'one': 3}

## Operators

Operators are special symbols in Python which are used to perform operations on variables/values.

### Arithmetic Operators

In [110]:
a = 10
b = 20
c = 30
d = 40
e = 50
print(a, b, c, d, e)

10 20 30 40 50

In [111]:
print('Adding {} and {} will give {}'.format(a, b, a + b))
print('Subracting {} and {} will give {}'.format(a, b, a - b))
print('Multiplying {} and {} will give {}'.format(a, b, a * b))
print('Dividing {} and {} will give {}'.format(a, b, a / b))
print('Modulo of {} and {} will give {}'.format(a, b, a % b))
print('{} power {} will give {}'.format(a, b, a ** b))
print('Floor division of {} and {} will give {}'.format(a, b, a // b))

Adding 10 and 20 will give 30
Subracting 10 and 20 will give -10
Multiplying 10 and 20 will give 200
Dividing 10 and 20 will give 0.5
Modulo of 10 and 20 will give 10
10 power 20 will give 100000000000000000000
Floor division of 10 and 20 will give 0

### Comparison Operators

In [117]:
print('Is {} greater than {}: {}'.format(a, b, a > b))
print('Is {} less than {}: {}'.format(a, b, a < b))
print('Is {} equals to {}: {}'.format(a, b, a == b))
print('Is {} not equals to {}: {}'.format(a, b, a != b))
print('Is {} greater than or equal to {}: {}'.format(a, b, a >= b))
print('Is {} less than or equal to {}: {}'.format(a, b, a <= b))

Is 10 greater than 20: False
Is 10 less than 20: True
Is 10 equals to 20: False
Is 10 not equals to 20: True
Is 10 greater than or equal to 20: False
Is 10 less than or equal to 20: True
Is Apple equals to Orange: False
Is Apple equals to Apple: True
Is Apple equals to apple: False

In [118]:
# String comparison
str1 = 'Apple'
str2 = 'Orange'
str3 = 'Apple'
str4 = 'apple'
print('Is {} equals to {}: {}'.format(str1, str2, str1 == str2))
print('Is {} equals to {}: {}'.format(str1, str3, str1 == str3))
print('Is {} equals to {}: {}'.format(str1, str4, str1 == str4)) # Case sensitive

Is Apple equals to Orange: False
Is Apple equals to Apple: True
Is Apple equals to apple: False

### Assignment Operators

In [135]:
x = 10
print(x)

x = 10
x += 10
print(x)

x = 10
x -= 10
print(x)

x = 10
x *= 10
print(x)

x = 10
x /= 10
print(x)

x = 10
x **= 10
print(x)

x = 10
x //= 10
print(x)

x = 10
x %= 10
print(x)

10
20
0
100
1.0
10000000000
1
0

In [137]:
# Bitwise assignment operations
y = 10
y &= 2
print(y)

y = 10
y |= 2
print(y)

y = 10
y ^= 2
print(y)

y = 10
y <<= 2
print(y)

y = 10
y >>= 2
print(y)

2
10
8
40
2

### Membership Operators

In [139]:
str1 = 'Hello Python'
print('Python' in str1)
print('Java' not in str1)

True
True

## Functions

A function is a block of organized code written to carry out a specified task. </br>
Functions help break our program into smaller and modular chunks for better readability. </br>
Information can be passed into a function as arguments. </br>
Parameters are specified after the function name inside the parentheses. </br>
We can add as many parameters as we want. Parameters must be separated with a comma. </br>
A function may or may not return data. </br>
In Python a function is defined using the <b>def</b> keyword

### Parameter vs Argument

A parameter is the variable listed inside the parentheses in the function definition. </br>
An argument is the value that is sent to the function when it is called.

### Types of functions

<b>Built-in function</b>
Python predefined functions that are readily available for use like min() ,max() , sum() , print() etc.</br>
<b>User-Defined Functions</b>
Function that we define ourselves to perform a specific task.</br>
<b>Anonymous functions</b>
Function that is defined without a name. Anonymous functions are also called as lambda functions.
They are not declared with the def keyword.